ADF-Pipelines/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Column_loop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "INSERT INTO DBO.EMP_TAR (EMP_ID,EMP_Name,Salary,Comments,ID)\nSELECT EMP_ID, EMP_NAME,Salary,COMMENTS,@{pipeline().parameters.Id} FROM EMP\nSELECT 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Column_loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.structure",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Column_Data",
								"value": {
									"value": "@concat('[',item().Name,']', if(equals(item().Type,'String'),\nconcat(' ', 'nvarchar(max)',' '),''))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Raw",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "US_Quote_20200105_123 - Copy.csv",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@replace(replace(replace(replace(replace(replace(replace(replace(string(activity('Get Metadata1').output.structure), '[', ''), ']',''), '{\"name\":\"', '['),'\",\"type\":\"Int32\"}', '] int'), '\",\"type\":\"Int64\"}', '] bigint'), '\",\"type\":\"Decimal\"}', '] decimal(38,18)'), '\",\"type\":\"DateTime\"}', '] datetime2'), '\",\"type\":\"String\"}', '] nvarchar(4000)' )",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Id": {
				"type": "int"
			}
		},
		"variables": {
			"Column_Data": {
				"type": "Array"
			},
			"output": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}